body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    width: 1440px;
    height: 3300px;
    margin: 0;
    background-color: #ffffff;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/*-------Header-------*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Header-logo-nav*/
.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    margin-right: 76px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;

}

.studio-black {
    color: #2e2f42;
}

.menu {
    display: flex;
    gap: 40px;
    position: relative;
}


.menu-item-studio:hover .menu-link::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.menu-item-studio .menu-link::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.menu-item-portfolio:hover .menu-link::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    width: 66px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.menu-item-contacts:hover .menu-link::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
    width: 67px;
    height: 4px;
    background-color: #4d5ae5;
    border-radius: 2px;
}

.menu-link {
    padding: 24px 0;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}


/*Header-info*/
.header-info {
    display: flex;
    align-items: center;
    font-style: normal;
}

.info-list {
    display: flex;
    gap: 40px;
}

.address-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}

/*-------Section-main-title------*/
.main-section {
    padding: 188px 0;
    background-color: #2e2f42;
    color: #ffffff;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('/images/people-office.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-title {
    max-width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 48px;
}

.order-service-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    background-color: #4d5ae5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.order-service-button:hover {
    background-color: #404bbf;
}

.order-service-button:focus {
    background-color: #404bbf;
}

/*------Section2-service------*/
.section-service {
    box-sizing: border-box;
    padding: 120px 0;
}

.services-item {
    display: flex;
    gap: 24px;
    flex: 1 1 calc(25% - 8px);
    box-sizing: border-box;
}

.service {
    width: calc((100% - 72px) / 4);
}

.section-service-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.service-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #434455;
}

/*-----Section3-person------*/
.section-person {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.title {
    text-align: center;
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.person {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;

}

.name {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    background-color: #ffffff;

}

.name-person {
    padding: 32px 0;
    text-align: center;
}

.section-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.section-service {
    background-color: #ffffff;
}

/*------Section4-portfolio------*/
.section-portfolio {
    padding: 120px 0;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.list-item {
    width: calc((100% - 48px) / 3);
}

.name-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.section-title-portfolio {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-portfolio {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #434455;
}

/*-----Footer-----*/
.page-footer {
    padding: 100px 0 100px;
    background-color: #2e2f42;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

.text-footer {
    max-width: 264px;
    font-size: 16px;
    font-weight: 400;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.studio {
    color: #f4f4fd
}